body {
  display: block;
  font-family: "Open Sans";
  margin: auto;
  text-align: center;
  position: relative;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  padding: 20px;
  font-weight: 800;
}
input {
  margin: 10px;
  text-align: center;
  width: 280px;
  height: 30px;
}

button {
  display: block;
  text-align: center;
  width: 280px;
  height: 30px;
  background-color: #FFC107;
  border: none;
  text-decoration: none;
  margin: auto;
  font-size: 20px;
  color: #FFFFFF;
}

button:hover {
  background-color: #FFD773;
}
.main-side {
  float: left;
  background-color: #455A64;
  width: 50%;
  height: 100%;
}

.link-column {
  float: right;
  width: 50%;
  height: 100%;
  background-color: #CFD8DC;
  margin: auto;
}

.link-tab {
  height: 150px;
  width: 340px;
  background-color: white;
  border: 2px solid #607D8B;
  margin: auto;

}

h4 {
  color: #455A64;
  font-size: 25px;
  padding: 10px;
  margin: auto;
  border-bottom: 2px solid #CFD8DC;
  padding-bottom: 5px;
}

a {
  color: #607D8B;
  text-decoration: none;
  border-bottom: 2px solid #F2F4F4;
  margin: 10px;
  font-size: 20px;
}

a:hover {
  color: #455A64;
  border-bottom-color: #FFC107;
}

#button-box {
  margin: 40px 30px 10px 10px;
  border-top: 2px solid #CFD8DC;

}

#link-read {
  float: left;
}

#link-delete {
  float: right;
}


@media screen and (max-width: 650px) {
  .main-side, .link-column {
    margin: auto;
    width: 100%;
    height: 50%;
  }



/*#455A64 dark background
#CFD8DC light background
#FFFFFF light text
#FFC107 *yellow button
#FFD773 button hover
#607D8B link border
#455A64 link title/name
#455A64 "read"
#CFD8DC link division bar
#607D8B website txt
#F2F4F4 link underline color
#455A64 hover text color
#FFC107 hover link underline color
#F2F4F4 when read background
#F05A28 "read"
#CFD8DC website underline*/
