body {
  display: block;
  font-family: "Open Sans";
}

button {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  display: block;
  font-size: 20px;
  height: 30px;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  width: 280px;
}

a {
  border-bottom: 2px solid #F2F4F4;
  color: #607D8B;
  margin: 15px;
  text-decoration: none;
  text-align: left;
}

/*a:hover {
  border-bottom-color: #FFC107;
  color: #455A64;*/
}


button:hover {
  background-color: #FFD773;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 800;
  padding: 20px 5px 5px 5px;
  text-align: center;
}

h4 {
  border-bottom: 2px solid #CFD8DC;
  color: #455A64;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 15px 10px;
  padding: 5px;
}

#user-title-input, #user-url-input {
  display: block;
  font-size: 20px;
  height: 30px;
  margin: 20px auto 15px;
  text-align: center;
  width: 280px;
}

#button-box {
  border-top: 2px solid #CFD8DC;
  margin: 15px;
}

#link-url {
  margin: auto 15px 15px;
  padding-top: 5px;
  padding-left: 4px;
}

#link-read {
  float: left;

}

#link-delete {
  float: right;
}

.link-column {
  background-color: #CFD8DC;
  height: 100%;
  margin: auto;
  position: absolute;
  width: 100%;
}


.link-tab {
  background-color: white;
  border: 2px solid #607D8B;
  height: 120px;
  margin: 20px auto;
  width: 300px;
  /*position: relative;*/
  /*text-align: center;*/
}

.main-side {
  background-color: #455A64;
  height: 225px;
}


.tab-button {
  text-decoration: underline;
  background: none;
  color: #455A64;
  /*cursor: pointer; this only makes the mouse pointer
   glove, it isn't necessary - if you really want it in, no worries! */
  width: 75px;
  height: 25px;
  font-size: 18px;
  margin-top: 5px;
  padding: 0px;
}

.read {
  background-color: #F2F4F4;
  color: #F05A28;

}

  @media screen and (min-width: 750px) {
    .main-side {
      width: 40%;
      height: 100%;
      display: inline-block;
    }

    .link-column {
      display: inline-block;
      float: right;
      width: 60%;
    }

    .link-tab {
      width: 75%;
    }
  }


  /*^^^^this works on click*/
  /*color: #F05A28;*/
  /*^^^^needs to hit #link-read on click */
  /*border-bottom: #CFD8DC;*/
  /*^^^^^^needs to hit #link-url on click*/



/*#455A64 dark background
#CFD8DC light background
#FFFFFF light text
#FFC107 *yellow button
#FFD773 button hover
#607D8B link border
#455A64 link title/name
#455A64 "read"
#CFD8DC link division bar
#607D8B website txt
#F2F4F4 link underline color
#455A64 hover text color
#FFC107 hover link underline color
#F2F4F4 when read background
#F05A28 "read"
#CFD8DC website underline*/
